/*Some css fixes to use night theme with 
IPython slides*/

body {
zoom: 1;
}

.reveal {
font-size: 200%;
}

table{
    font-size: 130% !important; 
}

.reveal p {
color: black;
}

.reveal ul, ol {
color: black;
}

div.output_area pre {
color: black;
}

div.output_stderr {
background: #F00;
}

